*,
*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #0A1045;
    --color-secondary: #F9E900;
}

body{
    font-family: 'Poppins', 'Poller One', sans-serif;
    font-size: 16px;
    background: var(--color-primary) ;
    color: bisque;
    overflow-x: hidden;
}

a {
    color: bisque;
    text-decoration: none;
}

text-primary{
    color:var(--color-secondary);
}

text-secondary{
    color: var(--color-secondary);
}

.active{
    color: var(--color-secondary);
    font-weight: 700;
}

.btn:hover{
    background: var(--color-secondary);
    color:rgb(31, 19, 4);
}

.btn:disabled{
    border-color: antiquewhite;
    cursor: not-allowed;
}

.btn:disabled:hover{
    background: transparent;
    color: #fff;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-header{
    padding: 20px 0;
    background: rgb(3, 1, 30);
}

.main-header .logo{
    color: #ffe958;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poller One', cursive;

}

