*,
*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #0A1045;
    --color-secondary: #F9E900;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--color-primary) ;
    color: bisque;
    overflow-x: hidden;
}