*,
*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #0A1045;
    --color-secondary: #F9E900;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--color-primary) ;
    color: bisque;
    overflow-x: hidden;
}

a {
    color: bisque;
    text-decoration: none;
}

text-primary{
    color:var(--color-secondary);
}

text-secondary{
    color: var(--color-secondary);
}

.active{
    color: var(--color-secondary);
    font-weight: 700;
}

.btn:hover{
    background: var(--color-secondary);
    color:rgb(31, 19, 4);
}

.btn:disabled{
    border-color: antiquewhite;
    cursor: not-allowed;
}

